a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: $color-sky-blue;
  line-height: 26px;
}

h3 {
  color: $color-dark-blue;
}

h2 {
  color: $color-dark-blue;
  letter-spacing: -1.6px;

  span {
    letter-spacing: 3.5px;
    text-transform: uppercase;
    display: block;
    color: $color-blue;
    font-weight: 800;
  }
}

h1 {
  font-weight: 600;
  font-size: 5rem;
  color: $color-dark-blue;
  max-width: 540px;
  letter-spacing: -2.5px;
  line-height: 1.1em;
  margin-bottom: 66px;
  margin-left: -6px;
}

.grid h2 {
  font-weight: 700;
  font-size: 2.5rem;
  span {
    font-size: 0.875rem;
  }
}

.grid-item {
  text-align: center;
  h3 {
    font-weight: 600;
    color: $color-dark-blue;
    font-size: 1.25rem;
    letter-spacing: -0.7px;
  }
  a {
    font-size: 0.875rem;
    color: $color-blue;
    font-weight: 600;
  }
}

._container {
  max-width: 1110px;
  margin: 0 auto;
}

.page-subscribe {
  h2 {
    font-weight: 600;
    color: $color-white;
    span {
      font-size: 0.875rem;
    }
  }
  p {
    color: $color-white;
    font-size: 1.125rem;
    line-height: 28px;
  }
  input {
    color: $color-white;
    font-size: 0.875rem;
  }
  .button {
    color: $color-white;
    font-size: 0.875rem;
    font-weight: 700;
  }
}

.header {
  display: flex;
  margin-bottom: 304px;
  flex-wrap: nowrap;
  justify-content: space-between;
  .title {
    font-style: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-dark-blue;
    text-transform: uppercase;
    letter-spacing: 3.8px;
  }
  .header-nav {
    font-weight: 700;
    font-size: 0.75rem;
    color: $color-sky-blue;
    text-transform: uppercase;
    width: 100%;
    flex-basis: 69.7%;
  }
  .header-nav li {
    display: inline;
    letter-spacing: 2.3px;
    margin-right: 10px;
    &:last-child {
      margin: auto 0;
    }
  }
  .header-logo {
    display: flex;
    flex-basis: 190px;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-start;

    & img {
      width: 50px;
      flex-shrink: 0;
    }

    & span {
      margin-left: 16px;
    }
  }

  .header-list {
    display: flex;
    justify-content: space-between;
  }
}

.first-page {
  background: white url(../assets/img/1/header-bg.png);
  background-position: top;
  padding-top: 54px;
  padding-bottom: 326px;
  margin-bottom: 0;
  position: relative;
  h1,
  .btn-group {
    position: relative;
    z-index: 2;
  }
}

.screen-img {
  display: block;
  background: transparent url(../assets/img/1/header-screen.png) no-repeat;
  position: absolute;
  width: 895px;
  height: 740px;
  top: 190px;
  right: 0px;
  z-index: 1;
}

.page-company {
  background: white url(../assets/img/1/icon-bg.png);
  background-position: top;
  margin-top: 0;
  padding: 101px 0 88px;
  .list-company {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .list-company-item span {
    display: block;
    margin: 0 auto;
  }
  .company-one {
    flex-basis: 198px;
    span {
      background-image: url(../assets/img/1/logo1.png);
      width: 198px;
      height: 58px;
    }
  }
  .company-two {
    flex-basis: 200px;
    span {
      background-image: url(../assets/img/1/logo2.png);
      width: 200px;
      height: 69px;
    }
  }
  .company-three {
    flex-basis: 201px;
    span {
      background-image: url(../assets/img/1/logo3.png);
      width: 201px;
      height: 47px;
    }
  }
  .company-four {
    flex-basis: 200px;
    span {
      background-image: url(../assets/img/1/logo4.png);
      width: 200px;
      height: 69px;
    }
  }
}

.grid {
  .grid-icon-1 {
    background-image: url(../assets/img/2/grid-icon1.png);
    background-size: 75px 81px;
  }
  .grid-icon-2 {
    background-image: url(../assets/img/2/grid-icon2.png);
    background-size: 89px 85px;
  }
  .grid-icon-3 {
    background-image: url(../assets/img/2/grid-icon3.png);
    background-size: 79px 82px;
  }
  .grid-icon-4 {
    background-image: url(../assets/img/2/grid-icon4.png);
    background-size: 85px 90px;
  }
  .grid-icon-5 {
    background-image: url(../assets/img/2/grid-icon5.png);
    background-size: 100px 87px;
  }
  .grid-icon-6 {
    background-image: url(../assets/img/2/grid-icon6.png);
    background-size: 102px 92px;
  }
}

.grid {
  display: grid;
  grid-template-areas:
    "a b c"
    "d b c"
    "d e f"
    "g e f"
    "g h h";
  max-width: 1110px;
  gap: 35px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 102px auto;
  padding-left: 15px;
  padding-right: 15px;
  .grid-title {
    grid-area: a;
  }
  .grid-item1 {
    grid-area: b;
  }
  .grid-item2 {
    grid-area: c;
  }
  .grid-item3 {
    grid-area: d;
  }
  .grid-item4 {
    grid-area: e;
  }
  .grid-item5 {
    grid-area: f;
  }
  .grid-item6 {
    grid-area: g;
  }
  .grid-text {
    grid-area: h;
  }
}

.grid {
  .grid-icon {
    background-repeat: no-repeat;
    display: block;
    margin: 28px auto 23px;
    height: 92px;
    background-position: center;
  }
  .grid-icon-1 {
    margin-left: 20px;
  }
  .grid-icon-2 {
    margin-left: 13px;
  }
  .grid-icon-3 {
    margin-left: 0;
  }
  .grid-icon-4 {
    margin-left: 13px;
  }
  .grid-icon-5 {
    margin-left: 13px;
  }
  .grid-icon-6 {
    margin-left: 30px;
  }

  .grid-item {
    box-shadow: 0 5px 7px $color-greyblue;
    padding: 40px 44px 64px 44px;
    border-radius: 10px;
  }

  .grid-title {
    margin: 0 auto 0;
    span {
      margin-top: 0;
    }
  }
  .grid-text {
    margin-left: 20px;
  }
  .grid-text-name {
    color: $color-blue;
    span {
      font-weight: bold;
      color: $color-dark-blue;
    }
  }
}

.page-subscribe {
  padding: 50px 0 50px;
  //gradient
  background: rgba(10, 32, 144, 1);
  background: linear-gradient(135deg, rgba(10, 32, 144, 1) 0%, rgba(35, 120, 205, 1) 100%);
}

//placeholder color
.box-subscribe-user {
  ::placeholder {
    color: $color-grey;
  }
}

.box-subscribe-user {
  position: relative;
  .btn-primary {
    position: absolute;
    top: 9px;
    right: 8px;
  }
  input {
    border: 2px solid $color-sky-blue;
    border-radius: 35px;
    background-color: transparent;
    width: 100%;
    height: 70px;
    display: block;
    box-sizing: border-box;
    padding: 25px 230px 25px 38px;
    &:focus {
      outline: none;
    }
  }
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  .subscribe-form-child {
    flex-basis: 48%;
  }
  h2 span {
    color: $color-light-blue;
    letter-spacing: 2.8px;
  }
  h2 {
    margin-bottom: 23px;
  }
  p {
    width: 410px;
    margin-bottom: 36px;
  }
}

.page-software {
  background-image: url(../assets/img/4/bg-page-software.png);
  background-size: cover;
  background-position: bottom;
  // height: 1002px;
  padding: 121px 0 145px 0;
  position: relative;
}

.page-gear-icon {
  display: block;
  background-image: url(../assets/img/4/icon-gear.png);
  background-repeat: no-repeat;
  width: 92px;
  height: 88px;
  background-position: -15px 0;
}

.page-software-flex {
  display: flex;
  justify-content: flex-end;
}

.page-software-layout {
  z-index: 2;
  .title-50 {
    margin-top: 11px;
    margin-bottom: 25px;
    letter-spacing: -0.8px;
    width: 95%;
    min-width: 540px;
  }
  flex-basis: 55%;
  background: rgba($color: $color-white, $alpha: 0.95);
}

.page-software-list {
  margin-top: 31px;
  height: 340px;
  overflow: hidden;
  overflow-y: scroll;
  dt {
    font-weight: bold;
    color: $color-dark-blue;
    margin-bottom: 10px;
  }
  dd {
    margin-left: 0;
    margin-bottom: 50px;
    line-height: 1.75em;
    font-size: 0.875rem;
  }
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: $color-whiteblue;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-blue;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: darken($color: $color-blue, $amount: 20%);
  }
  scrollbar-face-color: $color-blue;
}

.programm-screen {
  display: block;
  background: transparent url(../assets/img/3/programm-screen.png) no-repeat;
  position: absolute;
  width: 931px;
  height: 760px;
  left: 0;
  z-index: 1;
}

.list-stat {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-top: 76px;

  & > li {
    color: $color-greyblue;
    font-weight: 700;
    color: $color-blue;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    font-size: 0.75rem;
  }

  & > li > span {
    display: block;
    color: $color-greyblue;
    font-size: 3.75rem;
    margin-bottom: 23px;
    letter-spacing: 0;
  }
}

.title-40 {
  font-size: 2.5rem;
  line-height: 1.2em;
  font-weight: 700;
  span {
    font-size: 1.125rem;
  }
}

.title-50 {
  font-size: 3.125rem;
  line-height: 1.2em;
  font-weight: 600;
  span {
    font-size: 0.875rem;
  }
}

.page-stat {
  padding: 96px 0 96px 0;
  background: $color-whiteblue;
  background-size: cover;
  background-position: top;
  position: relative;
  .rhombus {
    position: absolute;
    background-image: url(../assets/img/4/rhombus.png);
    width: 601px;
    height: 672px;
    top: -213px;
    right: 0;
  }
  .circle {
    position: absolute;
    background-image: url(../assets/img/4/circle.png);
    width: 445px;
    height: 663px;
    bottom: -264px;
    left: 0;
  }
  h2 {
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    span {
      font-size: 1rem;
      margin-bottom: -8px;
      letter-spacing: 3.1px;
    }
  }
}

.page-app {
  padding-top: 69px;
  padding-bottom: 73px;
  background-image: url(../assets/img/4/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  ._container {
    position: relative;
  }
}

.page-app-image {
  position: absolute;
  top: -17px;
  right: 0px;
  overflow: hidden;
}

.page-app-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 55%;
  h2 {
    margin-bottom: 19px;
  }
  p {
    margin-left: 4px;
    margin-bottom: 12px;
  }
  .page-app-text {
    font-size: 1rem;
    font-weight: bold;
    color: $color-greyblue;
    text-transform: uppercase;
    letter-spacing: 3.1px;
    margin-bottom: 0;
  }
}

.page-app-layout {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.page-app-list {
  padding: 0;
  margin-left: -8px;
  li > a {
    background-image: url(../assets/img/4/googleapple.png);
    display: block;
    width: 184px;
    height: 85px;
    background-repeat: no-repeat;
    &.page-app-android {
      background-position: -3px 1px;
    }
    &.page-app-ios {
      background-position: -195px 0;
    }
  }
  li {
    display: inline-block;
  }
}

.page-analytics {
  padding-top: 123px;
  padding-bottom: 135px;
  background-image: url(../assets/img/4/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  ._container {
    position: relative;
  }
  .page-analytics-image {
    position: absolute;
    top: 38px;
    left: -12px;
  }
}

.page-analytics-content {
  h2 {
    margin-top: 11px;
    margin-bottom: 26px;
  }
  p {
    margin-bottom: 50px;
  }
}

.page-analytics-flex {
  display: flex;
  justify-content: flex-end;
}

.page-analytics-layout {
  flex-basis: 54.2%;
}

.page-control {
  padding: 126px 0 136px 0;
  background-image: url(../assets/img/4/bg4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-control-image {
  display: block;
  background: transparent url(../assets/img/4/page-screen2.png) no-repeat;
  position: absolute;
  width: 419px;
  height: 361px;
  right: 32px;
  top: 39px;
  z-index: 1;
}

.page-control-layout {
  position: relative;
}

.page-control-content {
  z-index: 2;
  position: relative;
  width: 55%;
  h2 {
    margin: 12px 0 25px 0;
  }
  p {
    margin-left: 4px;
    margin-bottom: 50px;
  }
}

.page-screen .title-40 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 70px;
  span {
    font-size: 1.125rem;
    padding-bottom: 6px;
  }
}

.page-screen {
  text-align: center;
  padding-top: 67px;
  padding-bottom: 0;
  margin-bottom: 100px;
  background-color: $color-whiteblue;
}

.container_image {
  display: flex;
  justify-content: center;
  overflow: hidden;
  img {
    margin-left: -9px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.page-clients {
  margin-top: 118px;
  margin-bottom: 106px;
  position: relative;
  &::before {
    content: "";
    display: block;
    background-image: url(../assets/img/4/bg5.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: center;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .title-40 {
    color: $color-white;
    padding-top: 63px;
    letter-spacing: -2.1px;
    span {
      color: $color-light-blue;
      margin-bottom: 5px;
    }
  }
}

.box-clients {
  display: flex;
  justify-content: space-between;
  margin-top: 63px;
}

.box-clients-item {
  background-color: $color-white;
  padding: 21px 42px;
  border-radius: 10px;
  flex-basis: 31.5%;
  box-sizing: border-box;
  box-shadow: 0 5px 7px $color-greyblue;
  p {
    font-size: 0.875rem;
    line-height: 1.7;
  }
  .name {
    color: $color-dark-blue;
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: -0.7px;
    line-height: 1.1;
    margin-top: 15px;
  }
  .position {
    color: $color-blue;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: 2.7px;
  }
}

.box-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .box-info-wrap {
    padding-left: 17px;
  }
  img {
    box-shadow: 0px 25px 9px -15px $color-greyblue;
  }
}

.page-plan {
  .title-40 {
    text-align: center;
    margin-bottom: 81px;
    letter-spacing: -2.1px;
    span {
      margin-bottom: 6px;
    }
  }
  margin-bottom: 120px;
}

.box-price {
  display: flex;
  justify-content: space-between;
}

.box-price-item {
  flex-basis: 32%;
  margin-right: 30px;
  background-color: $color-whiteblue;
  min-width: 270px;
  h3 {
    margin-top: 88px;
    margin-bottom: 16px;
  }
  p {
    margin-bottom: 36px;
  }
  &:last-child {
    margin-right: 0;
  }
  &.active {
    background-color: $color-dark-blue;
    color: $color-white;
    h3 {
      color: $color-white;
    }
    p {
      color: $color-white;
    }
  }
}

.box-price-item {
  text-align: center;
  height: 623px;
  h3 {
    height: 46px;
    font-size: 4.375rem;
    letter-spacing: -3px;
    span {
      font-size: 1.25rem;
    }
    .word-month {
      color: $color-sky-blue;
    }
  }
  p {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2.5px;
    color: $color-blue;
  }
  li {
    letter-spacing: -1px;
    margin-bottom: 14px;
    &:last-child {
      margin-bottom: 59px;
    }
  }
}

.page-team {
  background-image: url(../assets/img/4/bg6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 40px;
  margin-bottom: 81px;
  .title-40 {
    text-align: center;
    color: $color-white;
    font-weight: 600;
    padding-top: 100px;
    span {
      color: $color-light-blue;
      margin-bottom: 6px;
    }
  }
  .box-team {
    display: flex;
    justify-content: space-between;
    margin-top: 137px;
  }
  .team-item {
    background-color: $color-white;
    box-shadow: 0 5px 7px $color-greyblue;
    position: relative;
    padding-top: 193px;
    flex-basis: 31.5%;
    padding-bottom: 36px;
  }
  .team-name {
    color: $color-dark-blue;
    font-size: 1.625rem;
    font-weight: 600;
    text-align: center;
    margin-top: 6px;
    letter-spacing: -0.8px;
  }
  .team-position {
    color: $color-blue;
    font-size: 0.875rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    margin-bottom: 5px;
  }
  .avatar {
    position: absolute;
    top: -86px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .btn-more {
    &:focus {
      outline: none;
    }
    margin: 0 auto;
    &:hover span {
      background-position: -3px -20px;
    }
  }
  .btn-team {
    padding: 0;
    background-color: $color-lightest-grey;
    border-radius: 100%;
    border: none;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    transition: 0.3s;
    display: flex;
    &:hover {
      background-color: $color-blue;
    }
    span {
      background: transparent url(../assets/img/4/btn-team.png);
      background-position: -3px 0;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      display: block;
      margin: 0 auto;
    }
  }
  .btn-fb {
    span {
      width: 14px;
      height: 20px;
      background-position: -23px -2px;
      align-self: center;
    }
    &:hover span {
      background-position: -23px -22px;
    }
  }

  .btn-tw {
    span {
      width: 16px;
      height: 20px;
      background-position: -40px -2px;
      align-self: center;
    }
    &:hover span {
      background-position: -40px -22px;
    }
  }
  .btn-be {
    span {
      width: 20px;
      height: 20px;
      background-position: -56px -2px;
      align-self: center;
    }
    &:hover span {
      background-position: -56px -22px;
    }
  }
  .btn-web {
    span {
      width: 20px;
      height: 20px;
      background-position: -76px -2px;
      align-self: center;
    }
    &:hover span {
      background-position: -76px -22px;
    }
  }
  .social-team {
    display: flex;
    justify-content: space-between;
    max-width: 234px;
    margin: 0 auto;
    padding: 0;
  }
}

.page-form {
  background-image: url(../assets/img/4/bg7.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 121px;
  padding-top: 73px;
  .title-50 {
    margin-bottom: 48px;
  }
  .message-form {
    flex-basis: 55%;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    margin-right: 95px;
    ::placeholder {
      color: $color-grey;
    }
    input,
    textarea {
      font-size: 0.875rem;
      border: 2px solid $color-lightest-grey;
      border-radius: 40px;
      padding: 25px 80px 25px 40px;
      width: 100%;
      box-sizing: border-box;
      &:focus {
        outline: none;
      }
    }
    textarea {
      resize: none;
      min-height: 160px;
    }
    .contact-form-item {
      position: relative;
      margin-bottom: 19px;
    }
    .contact-form-item::after {
      content: "";
      position: absolute;
      background: transparent url(../assets/img/4/form-icons.png);
      top: 24px;
      right: 37px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      display: block;
    }
    .contact-form-name::after {
      background-position: -3px 0;
    }
    .contact-form-email::after {
      background-position: -26px 0;
    }
    .contact-form-text::after {
      background-position: -51px 0;
    }
  }
  .btn-submit {
    max-width: 230px;
    margin-top: 18px;
    position: relative;
    padding: 20px 39px 20px 63px;
    letter-spacing: 2px;
    transition: 0.3s;
  }
  .btn-submit:hover::before {
    content: "";
    background: transparent url(../assets/img/4/paper-plane-blue.png);
  }
  .btn-submit::before {
    content: "";
    position: absolute;
    background: transparent url(../assets/img/4/paper-plane.png);
    top: 20px;
    left: 53px;
    width: 15px;
    height: 13px;
    background-repeat: no-repeat;
    display: block;
    transition: 0.3s;
  }
  .form-programm-screen {
    width: 418px;
    height: 361px;
  }
  .flex-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer {
  background-color: $color-dark-blue;
  padding: 22px 0 22px 0;
  p {
    margin: 0;
    color: $color-lightest-grey;
    a {
      color: $color-blue;
      text-transform: uppercase;
    }
  }
  .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-social {
    flex-basis: 16%;
    display: flex;
    justify-content: space-between;
    svg {
      fill: $color-white;
      transition: 0.3s;
    }
    a:hover {
      svg {
        fill: $color-blue;
      }
    }
  }
}

//MEDIA

@media (max-width: 950px) {
  .page-company .list-company-item {
    flex-basis: 50%;
    margin-bottom: 50px;
  }
  .page-company .list-company {
    justify-content: center;
  }
  .page-company {
    padding: 101px 0 70px;
  }
  .grid {
    grid-template-areas:
      "a a"
      "b c"
      "d e "
      "f g"
      "h h";
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .grid-title span {
      text-align: center;
    }
  }
  .page-subscribe {
    .title-50,
    p {
      text-align: center;
      margin: 15px auto;
    }
    .subscribe-form {
      flex-direction: column-reverse;
      justify-content: center;
      img {
        margin: 0 auto;
        width: 200px;
      }
    }
    .box-subscribe-user {
      margin: 0 auto;
      width: 60%;
    }
  }
}

//медиа-запрос по хедеру на 960px
