$color-dark-blue: #192b59; //heading
$color-white: #fff;
$color-sky-blue: #6e7ea9; //text
$color-blue: #1085e4; //site
$color-greyblue: #cbdbe8; //secondary-button
$color-whiteblue: #edf6ff; //site-bg, price-item-bg
$color-grey: #9ab4cc; //secondary-button:hover
$color-light-blue: #00bffe; //subscribe-span
$color-light-grey: #d9d9d9; //shadows
$color-lightest-grey:#f3f3f3; //btn-team
